.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('images/residential.jpg') center/cover no-repeat;
    height: 90vh;
}

.service-img {
    height: 250px;
    object-fit: cover;
}
